body {

background-color: #62b3b8;
text-align: center;
font-family: 'Raleway', sans-serif;
}
.top-cloud {position: absolute; margin-left: 150px;}
h1 {width: 10%;   margin: 0 auto 0 auto; font-family: 'Sacramento', cursive;}
p { }
.top_div {position: static; padding-top: 10%;}
.pro {text-decoration: underline;}

.bottom-cloud {position: absolute;}
